// forms
form,
fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
// input[type='date'],
textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    box-sizing: border-box;
    // border: 1px solid $form-element-border-color;
    // padding: $form-element-padding;
    outline: none;
    padding: 10px 15px;
    border: 0;
    margin: 0 0 12px;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
    overflow: hidden;
    position: relative;
    @include media('<=phone') {
        padding: 5px 12px;
        margin: 0 0 8px;
        font-size: 12px;
    }
    // &:hover {
    // }
    &:focus {
        border-color: $form-element-focus-border-color;
    }
    @include placeholder {
        color: $black;
        // position: relative;
        // &:before {
        //     content: '*';
        //     top: 0;
        //     right: 0;
        //     color: red;
        //     font-size: 12px;
        //     position: absolute;
        // }
    }
}

select {
    -webkit-border-radius: 0;
}

textarea {
    resize: vertical;
    background: $gray-6 !important;
    outline: none;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    outline: none;
    border: 0;
    color: $white;
}