// Typography
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
    font-family: $headings-font-family;
    font-weight: bold;
    margin: 0 0 0.5em;
    color: $headings-color;
}

h1,
.h1 {
    font-size: $h1-font-size;
    @include media('<=730px') {
        font-size: 30px;
    }
}

h2,
.h2 {
    font-size: $h2-font-size;
    @include media('<=730px') {
        font-size: 22px;
    }
}

h3,
.h3 {
    font-size: $h3-font-size;
    @include media('<=phone') {
        font-size: 16px;
    }
}

h4,
.h4 {
    font-size: $h4-font-size;
    @include media('<=tablet') {
        font-size: 18px;
    }
    @include media('<=phone') {
        font-size: 14px;
    }
}

h5,
.h5 {
    font-size: $h5-font-size;
}

h6,
.h6 {
    font-size: $h6-font-size;
}

p {
    margin: 0 0 1em;
}

a {
    color: $base-link-color;
    text-decoration: none;
    transition: color .3s ease-in-out, background .3s ease-in-out, opacity .3s ease-in-out;
    &:hover,
    &:focus {}
}