// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/
$gray: #999;
$gray-2: #7b868c;
$gray-3: #323e48;
$gray-4: #878686;
$gray-5: #f2f2f2;
$gray-6: #ebebeb;
$gray-7: #a8adaf;
$gray-8: #969b9d;
$gray-9: #d9d9d9;
$black: #323e48;
$white: #fff;
$light-blue: #39f;
$blue: #0091b3;
$blue-2: #09205c;
$blue-3: #0091b2;
$green: #303e48;
$orange: #e43d30;
$red: #e43c2f;
$red-2: #ca3f1f;
$red-3: #dd3c03;
$red-4: #cd4020;
$lime: #b8be14;
$violet: #68349a;
// Fonts
$base-font-sans-serif: 'Montserrat',
'Arial',
'Helvetica Neue',
'Helvetica',
sans-serif;
$base-font-sans-serif-2: 'Source Sans Pro',
'Arial',
'Helvetica Neue',
'Helvetica',
sans-serif;
$base-font-sans-serif-3: 'Open Sans',
'Arial',
'Helvetica Neue',
'Helvetica',
sans-serif;
$base-font-serif: 'Times New Roman',
'Times',
'Baskerville',
'Georgia',
serif;
// This is the default html and body font-size for the base rem value.
$rem-base: 16px;
// Body
$base-text-color: $black !default;
$base-background-color: $white !default;
$font-size-base: 16px !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-sans-serif-2 !default;
$vertical-rhythm: ($line-height-base * 1em);
$base-min-width: 320px;
// Liks
$base-link-color: $light-blue;
// Buttons 
$btn-color: $white !default;
$btn-background: $black !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;
// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $gray !default;
// Headers
$h1-font-size: 40px !default;
$h2-font-size: 40px !default;
$h3-font-size: 22px !default;
$h4-font-size: 20px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;
$headings-font-family: $base-font-sans-serif !default;
$headings-color: inherit !default;
$animation-speed: 0.3s;