/* Components site styles */

body {
    // @include media('>=1366px') {
    //     font-size: 18px;
    // }
    @include media('<=phone') {
        font-size: 13px;
    }
}

#wrapper {
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1140px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    @include media('<=widescreen') {
        padding: 0 50px;
    }
    @include media('<=tablet') {
        padding: 0 40px;
    }
}

.all-section-holder {
    max-width: 530px;
    @include media('<=desktop') {
        max-width: 450px;
    }
    @include media('<=tablet') {
        max-width: 330px;
        margin: 0 0 80px;
    }
    .title-section {
        line-height: 1.4;
        .main-title {
            @include media('<=phone') {
                margin: 0 0 20px;
            }
        }
    }
}

.content-holder-banner {
    height: 100%;
}

.banner {
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding: 110px 0 60px;
    @include media('<=tablet') {
        min-height: 100vh;
        padding: 110px 0 60px;
    }
    @include media('<=phone') {
        padding: 100px 0 60px;
    }
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        @include media('<=tablet') {
            justify-content: inherit;
        }
    }
}

.banner-lightbox {
    min-height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.btn-all {
    color: $white;
    border-radius: 30px;
    padding: 12px 30px;
    outline: none;
    cursor: pointer;
    color: $white;
    font-family: $base-font-sans-serif;
    font-weight: 600;
    transition: opacity .3s ease-in-out;
    @include media('<=phone') {
        padding: 6px 18px;
        font-size: 12px;
    }
    &:hover {
        opacity: .8;
    }
}

.red-bg {
    background: $red;
}

.gray {
    color: $gray-2;
}

.red {
    color: $red;
}

.lime {
    background: $lime;
}

.green {
    color: $green;
}

.font-f {
    font-family: $base-font-sans-serif-3;
}

.orange {
    color: $orange;
    font-family: $base-font-sans-serif-3;
    @include media('<=phone') {
        font-size: 11px;
    }
}

.blue {
    color: $blue-3;
}

.menu-tipe-1 {
    &#header {
        .logo {
            a {
                .img-1 {
                    display: block;
                }
                .img-2,
                .img-3 {
                    display: none;
                }
            }
        }
    }
}

.menu-tipe-2,
.menu-tipe-3,
.menu-tipe-4,
.menu-tipe-5 {
    &#header {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
        .nav-opener-form,
        .menu-text {
            display: none;
        }
        .menu {
            opacity: 1 !important;
        }
        .nav-opener {
            position: relative;
        }
        .close-btn {
            position: absolute;
        }
        .close-btn-form {
            display: block;
        }
        .head-top {
            .container {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}

.menu-tipe-2,
.menu-tipe-3 {
    .nav-opener {
        .line,
        &:before,
        &:after {
            background: $gray-3;
        }
    }
    .close-btn {
        .line,
        &:before,
        &:after {
            background: $white;
        }
    }
}

.menu-tipe-2 {
    background: $white;
    &#header {
        .drop {
            .menu-list {
                li {
                    .anchor-link {
                        &.active {
                            color: $orange;
                        }
                    }
                }
            }
        }
        .logo {
            a {
                .img-2 {
                    display: block;
                }
                .img-1,
                .img-3 {
                    display: none;
                }
            }
        }
        .menu {
            li {
                a {
                    color: $gray-2;
                    &:hover {
                        color: $green;
                    }
                }
                .active {
                    color: $green;
                }
            }
        }
    }
}

.menu-tipe-3 {
    background: $white;
    &#header {
        .drop {
            .menu-list {
                li {
                    .anchor-link {
                        &.active {
                            color: $orange;
                        }
                    }
                }
            }
        }
        .logo {
            a {
                .img-2 {
                    display: block;
                }
                .img-1,
                .img-3 {
                    display: none;
                }
            }
        }
        .menu {
            li {
                a {
                    color: $gray-2;
                    &:hover {
                        color: $green;
                    }
                }
                .active {
                    color: $green;
                }
            }
        }
    }
}

.menu-tipe-4 {
    background: $blue;
    .banner {
        height: inherit;
    }
    &#header {
        .drop {
            .menu-list {
                li {
                    .anchor-link {
                        &.active {
                            color: $orange;
                        }
                    }
                }
            }
        }
        .logo {
            a {
                .img-3 {
                    display: block;
                }
                .img-1,
                .img-2 {
                    display: none;
                }
            }
        }
        .menu {
            li {
                a {
                    color: $white;
                    &:hover {
                        color: $gray-3;
                    }
                }
                .active {
                    color: $gray-3;
                }
            }
        }
    }
}

.menu-tipe-5 {
    background: $gray-3;
    &#header {
        .drop {
            .menu-list {
                li {
                    .anchor-link {
                        &.active {
                            color: $orange;
                        }
                    }
                }
            }
        }
        .logo {
            a {
                .img-3 {
                    display: block;
                }
                .img-1,
                .img-2 {
                    display: none;
                }
            }
        }
        .menu {
            li {
                a {
                    color: $gray-4;
                    &:hover {
                        color: $white;
                    }
                }
                .active {
                    color: $white;
                }
            }
        }
    }
}

.title-section {
    .main-title {
        line-height: 1;
        margin: 0 0 30px;
        text-transform: uppercase;
        mark {
            background: inherit;
            color: $red;
        }
    }
}