/* header styles */

.holder-w {
    position: relative;
    width: 100%;
}

.resize-active {
    * {
        transition: none !important;
    }
}

#header {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    &.fixed-position {
        position: fixed;
    }
    @include media('<tablet') {
        position: fixed;
    }
}

.nav-opener,
.nav-opener-form {
    display: block;
    width: 25px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 45px;
    text-transform: uppercase;
    color: $white;
    font-family: $base-font-sans-serif;
    @include media('<=tablet') {
        right: 40px;
    }
    .line,
    &:before,
    &:after {
        background: $white;
        position: absolute;
        top: 47%;
        left: 0;
        right: 0;
        height: 2px;
        margin-top: -2px;
        .header-fixed & {
            background: $black;
        }
    }
    &:before,
    &:after {
        content: '';
        top: 35%;
    }
    &:after {
        top: 60%;
    }
}

.nav-opener {
    .menu-text {
        position: absolute;
        left: -65px;
        top: 10px;
        letter-spacing: -2px;
        @include media('<tablet') {
            display: none;
        }
        &:before {
            content: '';
            position: absolute;
            height: 29px;
            width: 1px;
            top: -6px;
            left: -23px;
            background: $white;
        }
    }
}

.nav-active-form {
    .holder-w {
        width: 100%;
        height: 100vh;
        transform: translateX(-480px);
        transition: opacity .3s ease-in-out, transform .3s ease-in-out, visibility .3s ease-in-out;
        @include media('<=phone') {
            transform: translateX(-100%);
        }
        .nav-active-form & {
            transform: translateX(0);
        }
    }
}

.nav-opener-form {
    right: 165px !important;
    top: 10px;
    margin: 0 10px 0 0;
    width: 75px;
    height: 19px;
    letter-spacing: -1px;
    &:before,
    &:after {
        display: none;
    }
    @include media('<tablet') {
        display: none;
    }
}

.close-btn-form {
    width: 65px !important;
    height: 65px !important;
    right: -25px !important;
    top: -40px !important;
    @include media('<=phone') {
        right: -30px !important;
        top: -35px !important;
    }
    &:before,
    &:after {
        background: $red;
        position: absolute;
        top: 45%;
        left: 30%;
        right: 30%;
        height: 1px;
        margin-top: -2px;
        display: block;
        .header-fixed & {
            background: $black;
        }
    }
}

.close-btn,
.close-btn-form {
    display: block;
    width: 70px;
    height: 70px;
    top: 8px;
    right: 15px;
    z-index: 3 !important;
    position: absolute;
    @include media('<=desktop') {
        right: 2em;
    }
    @include media('<=phone') {
        right: .5em;
        top: 0;
    }
    span {
        opacity: 0;
    }
    &:before,
    &:after {
        transform: rotate(45deg);
        top: 50%;
        left: 30%;
        height: 1px;
        ;
        right: 30%;
    }
    &:after {
        transform: rotate(-45deg);
    }
}

.head-top {
    padding: 10px 0;
    position: relative;
    @include media('<=phone') {
        padding: 5px 0;
    }
    .container {
        @include media('<=phone') {
            padding: 0 30px;
        }
        .logo {
            a {
                display: inline-block;
                .img-1 {
                    width: 130px;
                    height: 45px;
                    @include media('<=phone') {
                        width: 95px;
                        height: 33px;
                    }
                }
                .img-2,
                .img-3 {
                    width: 63px;
                    height: 31px;
                    display: none;
                    @include media('<=phone') {
                        width: 40px;
                        height: 19px;
                    }
                }
            }
        }
        .menu {
            @extend %listreset;
            display: flex;
            opacity: 0;
            @include media('<=730px') {
                display: none;
            }
            li {
                margin: 0 20px;
                @include media('<=790px') {
                    margin: 0 6px;
                }
                a {
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 600;
                    font-family: $base-font-sans-serif;
                }
            }
        }
    }
}

.drop {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    background: $green;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    .nav-active & {
        opacity: 1;
        visibility: visible;
        overflow-y: scroll;
    }
    .logo {
        position: absolute;
        top: 15px;
        left: 1em;
        width: 130px;
        height: 45px;
        @include media('<=desktop') {
            left: 3em;
        }
        a {
            width: 130px;
            height: 45px;
            @include media('<=phone') {
                width: 95px;
                height: 33px;
            }
        }
    }
}

.menu-list {
    @extend %listreset;
    font-size: 32px;
    text-align: center;
    margin: 0 auto;
    padding: 90px 0;
    @include media('>phone') {
        padding: 60px 0;
    }
    @include media('>=desktop') {
        padding: 70px 0;
    }
    li {
        text-transform: uppercase;
        margin: 0 0 30px;
        a {
            color: $white;
            font-weight: 700;
            font-family: $base-font-sans-serif;
            @include media('<=phone') {
                font-size: 18px;
            }
            &:hover {
                color: $orange;
            }
        }
        .add-list {
            @extend %listreset;
            font-size: 16px;
            line-height: 1.6;
            @include media('<=phone') {
                line-height: inherit;
            }
            li {
                text-transform: uppercase;
                margin: 0;
                a {
                    font-weight: 400;
                    color: $white;
                    @include media('<=phone') {
                        font-size: 10px;
                    }
                    &:hover {
                        color: $gray;
                    }
                }
            }
        }
    }
}

.bottom-line {
    width: 100%;
    background: $red;
    padding: 20px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(200px);
    transition: opacity .3s ease-in-out, transform .3s ease-in-out, visibility .3s ease-in-out;
    .nav-active & {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    .link-list {
        @extend %listreset;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        li {
            position: relative;
            margin: 0 20px;
            &:first-child {
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: -20px;
                    width: 1px;
                    height: 18px;
                    background: $white;
                }
            }
            a {
                position: relative;
                width: 100%;
                top: 0;
                left: 0;
                color: $white;
                font-weight: 500;
                font-family: $base-font-sans-serif;
                &.nav-opener-form {
                    display: block !important;
                }
            }
        }
    }
}

.color-red {
    color: $red;
}

.holder-form {
    position: absolute;
    top: 0;
    right: 0;
    left: 100%;
    height: 100vh;
    bottom: 0;
    width: 480px;
    overflow-y: scroll;
    background: $white;
    z-index: 5;
    padding: 50px 45px;
    @include media('<=phone') {
        width: 100%;
        padding: 40px 30px;
    }
    .block-form {
        z-index: 2;
        min-height: 100vh;
        .close-btn-form {
            top: 0 !important;
            right: 0 !important;
            display: block;
        }
    }
    .title-section {
        letter-spacing: -2.5px;
        @include media('<=phone') {
            letter-spacing: 1.2px;
        }
    }
    .text-form {
        display: block;
        letter-spacing: 0;
        line-height: 1.2;
        margin: 0 0 30px;
        font-size: 18px;
        @include media('<=phone') {
            line-height: 1.5;
            font-size: 15px;
            margin: 0 0 22px;
        }
        br {
            @include media('<=phone') {
                display: none;
            }
        }
    }
}

// Form-validation
.form-validation {
    margin: 0 0 35px;
    position: relative;
    overflow: hidden;
    &.form-success {
        .thank-you-message,
        &.thank-you,
        &.thank-you-2 {
            font-size: 18px;
            display: block;
            h2 {
                font-size: 30px;
            }
            br {
                @include media('<=phone') {
                    display: none;
                }
            }
        }
    }
    .thank-you-message {
        display: none;
    }
    .thank-you {
        h2 {
            color: $red;
        }
    }
    .thank-you-2 {
        text-align: center;
        padding: 5px 10px;
        background: rgba(#e9eae4, .8);
        h2 {
            color: $lime;
        }
    }
    .cont {
        position: relative;
    }
    .placeholder {
        position: absolute;
        left: 15px;
        font-size: 14px;
        top: 20px;
        transform: translateY(-50%);
        pointer-events: none;
        @include media('<=phone') {
            left: 5px;
            top: 12px;
        }
    }
    .red {
        color: red;
        position: absolute;
        right: -5px;
        top: 0;
    }
    .form-control:focus~.placeholder,
    .form-control:valid~.placeholder {
        display: none;
    }
    input {
        width: 100%;
        background: $gray-6;
        &.input-error {
            border: 1px solid $red;
        }
        &.input-success {
            border: 1px solid $lime;
        }
    }
    textarea {
        background: $gray-6 !important;
        min-height: 125px;
        margin: 0 0 30px;
        @include media('<=phone') {
            min-height: 80px;
            margin: 0 0 20px;
        }
        &.input-error {
            border: 1px solid $red;
        }
        &.input-success {
            border: 1px solid $lime;
        }
    }
    .close-btn-form {
        position: absolute;
    }
}

///////////////////////////////////////////////////////////
.message,
.success-message,
.error-message {
    display: none;
}

.form-error .error-message,
.form-success .error-message,
.success .success-message {
    display: block;
}

.form-success {
    input,
    textarea,
    button {
        display: none;
    }
}

///////////////////////////////////////////////////////////
.address {
    display: flex;
    justify-content: space-between;
    .box {
        font-size: 16px;
        padding: 0 20px 0 0;
        font-family: $base-font-sans-serif-2;
        @include media('<=phone') {
            font-size: 12px;
            padding: 0 5px 0 0;
        }
        .txt-box {
            font-weight: 700;
            font-size: 20px;
            display: block;
            position: relative;
            padding: 0 0 0 20px;
            margin: 0 0 6px;
            font-family: $base-font-sans-serif;
            @include media('<=phone') {
                padding: 0 0 0 15px;
                font-size: 12px;
            }
            &:before {
                content: "\e906";
                font-family: 'icomoon';
                position: absolute;
                font-size: 16px;
                top: 0;
                left: 0;
                color: $green;
                @include media('<=phone') {
                    font-size: 12px;
                }
            }
        }
        p {
            margin: 0;
        }
    }
}


/* main content style */

.title-box {
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
    font-family: $base-font-sans-serif;
    @include media('>tablet') {
        max-width: 680px;
    }
}

.lightbox-list {
    @extend %listreset;
    li {
        max-width: 400px;
        position: relative;
        margin: 0 0 10px;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -6px;
            background: $gray-9;
            height: 1px;
            width: 100%;
            background: linear-gradient(to right, $gray-9 0%, rgba(125, 185, 232, 0) 100%);
        }
    }
}

.lightbox-holder {
    .lightbox {
        color: $red;
        font-size: 14px;
        font-family: $base-font-sans-serif;
        transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    }
}

.team {
    .title-section {
        color: $white;
    }
    .main-title {
        margin: 0 0 40px;
    }
    .lightbox-holder {
        .lightbox {
            color: $lime;
            transition: .3s ease-out color;
            &:hover {
                color: rgba($lime, .8);
            }
        }
    }
    .lightbox-list {
        &.gray-line {
            li {
                &:after {
                    background: linear-gradient(to right, $lime 0%, rgba(153, 153, 153, 0) 100%);
                }
            }
        }
    }
}


/* example lightbox styles */

.lightbox[data-src] {
    cursor: pointer;
    font-weight: 600;
    &:hover {
        opacity: .8;
    }
}

.popup-holder {
    position: relative;
    overflow: hidden;
    height: 0;
}

.lightbox-opener {
    width: 100%;
    height: 100%;
}

.title-section {
    .main-title {
        text-transform: uppercase;
        &.team-title {
            mark {
                color: $lime;
            }
        }
        &.slide-title {
            mark {
                color: $blue;
            }
        }
    }
}

#popup1 {
    background: $gray-5;
    height: 100%;
    .box-content {
        .title-section {
            margin: 0 0 30px;
            @include media('<=tablet') {
                margin: 0 0 10px;
            }
            .main-title {
                @include media('<=tablet') {
                    margin: 0;
                }
            }
        }
        .table-block {
            display: flex;
            flex-wrap: wrap;
            [class^="block"] {
                [class^="line"] {
                    min-height: 170px;
                    position: relative;
                    padding: 25px;
                    border: 2px solid $white;
                    box-shadow: inset 15px 15px 45px -35px rgba(0, 0, 0, 0.75);
                    @include media('<=tablet') {
                        box-shadow: inset -15px 15px 45px -35px rgba(0, 0, 0, 0.75);
                    }
                    @include media('<=640px') {
                        padding: 20px 5px !important;
                        min-height: 130px;
                    }
                    @include media('<=phone') {
                        padding: 10px 5px !important;
                        min-height: 90px;
                    }
                    &:after,
                    &:before {
                        content: '';
                        position: absolute;
                        z-index: 1;
                    }
                    .box-line {
                        font-size: 22px;
                        text-transform: uppercase;
                        color: $white;
                        position: relative;
                        font-family: $base-font-sans-serif-2;
                        z-index: 3;
                        @include media('<=840px') {
                            font-size: 20px;
                        }
                        @include media('<=640px') {
                            font-size: 16px;
                        }
                        @include media('<=450px') {
                            font-size: 12px;
                        }
                        p {
                            margin: 0;
                        }
                        .number {
                            font-size: 48px;
                            display: block;
                            font-weight: 500;
                            line-height: 0.7;
                            font-family: $base-font-sans-serif-3;
                            margin: 0 0 5px;
                            @include media('<=640px') {
                                font-size: 32px;
                            }
                            @include media('<=450px') {
                                font-size: 24px;
                            }
                        }
                        i {
                            font-size: 115px;
                            @include media('<=640px') {
                                font-size: 65px;
                            }
                            @include media('<=phone') {
                                font-size: 40px;
                            }
                        }
                    }
                    .center-box {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}

.block-1 {
    width: 40%;
    @include media('<=tablet') {
        width: 100%;
        display: flex;
    }
    [class^="row-box"] {
        @include media('<=tablet') {
            flex-direction: column;
        }
    }
    .row-box-1 {
        @include media('<=tablet') {
            width: 33.33%;
        }
        .line-1 {
            &:before {
                background: $gray-7;
                width: 28px;
                height: 28px;
                top: 50%;
                right: -4px;
                transform: translateY(-50%) rotate(-45deg);
                box-shadow: 10px 10px 0px -7px rgba(255, 255, 255, 1);
                @include media('<=tablet') {
                    background: $violet;
                    left: 50%;
                    bottom: -4px;
                    top: inherit;
                    transform: translateX(-50%) rotate(45deg);
                }
            }
            @include media('<=tablet') {
                background: $violet;
            }
        }
        .line-2 {
            background: $white;
            &:before {
                background: $white;
                width: 28px;
                height: 28px;
                top: 50%;
                right: -4px;
                transform: translateY(-50%) rotate(-45deg);
                box-shadow: 10px 10px 0px -7px rgba(255, 255, 255, 1);
                @include media('<=tablet') {
                    left: 50%;
                    bottom: -4px;
                    top: inherit;
                    transform: translateX(-50%) rotate(45deg);
                }
            }
        }
        [class^="line"] {
            width: 50%;
            @include media('<=tablet') {
                width: 100%;
            }
        }
    }
    .row-box-2 {
        width: 100%;
        @include media('<=tablet') {
            width: 33.33%;
        }
        .line {
            width: 100%;
            padding: 38px 25px !important;
            &:before {
                background: $red-2;
                width: 28px;
                height: 28px;
                top: 50%;
                right: -4px;
                transform: translateY(-50%) rotate(-45deg);
                box-shadow: 10px 10px 0px -7px rgb(255, 255, 255);
                @include media('<=tablet') {
                    left: 50%;
                    bottom: -4px;
                    top: inherit;
                    transform: translateX(-50%) rotate(45deg);
                }
            }
            @include media('<=tablet') {
                height: 100%;
                display: flex;
                flex-direction: column-reverse;
            }
        }
    }
    .row-box-3 {
        @include media('<=tablet') {
            width: 33.33%;
        }
        [class^="line"] {
            width: 50%;
            @include media('<=tablet') {
                width: 100%;
            }
        }
        .line-1 {
            &:before {
                background: $violet;
                width: 28px;
                height: 28px;
                top: 50%;
                right: -4px;
                transform: translateY(-50%) rotate(-45deg);
                box-shadow: 10px 10px 0px -7px rgb(255, 255, 255);
                @include media('<=tablet') {
                    background: $gray-7;
                    left: 50%;
                    bottom: -4px;
                    top: inherit;
                    transform: translateX(-50%) rotate(45deg);
                }
            }
            @include media('<=tablet') {
                background: $gray-7;
            }
        }
        .line-2 {
            background: $white;
            &:before {
                background: $white;
                width: 28px;
                height: 28px;
                top: 50%;
                right: -4px;
                transform: translateY(-50%) rotate(-45deg);
                box-shadow: 10px 10px 0px -7px rgb(255, 255, 255);
                @include media('<=tablet') {
                    left: 50%;
                    bottom: -4px;
                    top: inherit;
                    transform: translateX(-50%) rotate(45deg);
                }
            }
            i {
                color: $violet;
            }
        }
    }
    .line-2 {
        .box-line {
            display: flex;
            justify-content: center;
        }
    }
}

.block-2 {
    width: 20%;
    @include media('<=tablet') {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }
    [class^="line"] {
        width: 100%;
    }
    [class^="row-box"] {
        @include media('<=tablet') {
            width: 33.33%;
        }
    }
    .row-box-1 {
        .line {
            &:before {
                background: $violet;
                width: 28px;
                height: 28px;
                top: 50%;
                right: -4px;
                transform: translateY(-50%) rotate(-45deg);
                box-shadow: 10px 10px 0px -7px rgb(255, 255, 255);
                @include media('<=tablet') {
                    top: 50%;
                    left: -4px;
                    transform: translateY(-50%) rotate(-225deg);
                }
            }
            &:after {
                background: $violet;
                width: 28px;
                height: 28px;
                left: 50%;
                bottom: -4px;
                transform: translateX(-50%) rotate(45deg);
                box-shadow: 10px 10px 0px -7px rgb(255, 255, 255);
            }
        }
    }
    .row-box-2 {
        .line {
            background: $white;
            &:before {
                background: $white;
                width: 28px;
                height: 28px;
                top: 50%;
                right: -4px;
                transform: translateY(-50%) rotate(-45deg);
                box-shadow: 10px 10px 0px -7px rgb(255, 255, 255);
                @include media('<=tablet') {
                    top: 50%;
                    left: -4px;
                    transform: translateY(-50%) rotate(-225deg);
                }
            }
            &:after {
                background: $white;
                width: 28px;
                height: 28px;
                left: 50%;
                bottom: -4px;
                transform: translateX(-50%) rotate(45deg);
                box-shadow: 10px 10px 0px -7px rgb(255, 255, 255);
            }
            i {
                color: $red-3;
            }
        }
    }
}

.block-3 {
    width: 40%;
    @include media('<=tablet') {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }
    [class^="row-box"] {
        @include media('<=tablet') {
            width: 33.33%;
            flex-direction: column;
        }
    }
    [class^="line"] {
        width: 50%;
        @include media('<=tablet') {
            width: 100%;
        }
    }
    .row-box-1 {
        [class^="line"] {
            i {
                color: $violet;
            }
        }
        .line-1 {
            background: $white;
            &:before {
                background: $white;
                width: 28px;
                height: 28px;
                top: 50%;
                right: -4px;
                transform: translateY(-50%) rotate(-45deg);
                box-shadow: 10px 10px 0px -7px rgb(255, 255, 255);
                @include media('<=tablet') {
                    left: 50%;
                    bottom: -4px;
                    top: inherit;
                    transform: translateX(-50%) rotate(45deg);
                }
            }
        }
    }
    .row-box-2 {
        .line-1 {
            @include media('<=940px') {
                padding: 25px 0 25px 20px !important;
            }
            @include media('<=890px') {
                padding: 25px 0 25px 15px !important;
            }
            @include media('<=840px') {
                padding: 25px 0 25px 10px !important;
            }
            &:before {
                background: $gray-7;
                width: 28px;
                height: 28px;
                top: 50%;
                right: -4px;
                transform: translateY(-50%) rotate(-45deg);
                box-shadow: 10px 10px 0px -7px rgba(255, 255, 255, 1);
                @include media('<=tablet') {
                    left: 50%;
                    bottom: -4px;
                    top: inherit;
                    transform: translateX(-50%) rotate(45deg);
                }
            }
        }
        .line-2 {
            background: $white;
            i {
                color: $gray-8;
            }
        }
    }
    .row-box-3 {
        .line-1 {
            width: 100%;
            background: $white;
            @include media('<=tablet') {
                height: 100%;
                display: flex;
                flex-direction: column-reverse;
            }
            .box-line {
                color: $red-4 !important;
            }
        }
    }
}

[class^="row-box"] {
    display: flex;
}

.box-gray {
    background: $gray-7;
}

.box-violet {
    background: $violet;
}

.box-red {
    background: $red-2;
}

.box-blue {
    background: $blue-2;
}

.box-white {
    background: $white;
}

.box-content {
    padding: 90px 0;
    @include media('<=tablet') {
        padding: 70px 0;
    }
    @include media('<=phone') {
        padding: 45px 0;
    }
    .container {
        margin: 0 auto;
        @include media('<=tablet') {
            padding: 0 50px;
        }
        @include media('<=640px') {
            padding: 0 15px;
        }
        @include media('<=phone') {
            padding: 0 30px;
        }
    }
}

#popup2 {
    background: $gray-5;
    .box-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 90px 0 0;
        @include media('<=730px') {
            padding: 45px 0 0;
        }
        .container {
            width: 100%;
        }
    }
    .title-section {
        position: relative;
        margin: 0 0 60px;
        z-index: 1;
        @include media('<=phone') {
            margin: 0;
        }
        .main-title {
            br {
                display: none;
                @include media('<=730px') {
                    display: block;
                }
            }
        }
    }
    .all-nolder {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .container {
        max-width: 950px;
    }
}

.holder-list {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    .list-point {
        @extend %listreset;
        position: relative;
        display: flex;
        height: 100%;
        margin: 0 -15px;
        z-index: 1;
        @include media('<=920px') {
            width: 100%;
            margin: 0 auto;
        }
        li {
            position: relative;
            width: 25%;
            padding: 0 15px;
            &:before,
            &:after {
                content: '';
                position: absolute;
            }
            &:before {
                border-radius: 50%;
                width: 18px;
                height: 18px;
                @include media('<=730px') {
                    display: none;
                }
            }
            &:after {
                width: 1px;
                @include media('<=730px') {
                    display: none;
                }
            }
            &:nth-child(1) {
                .before-text {
                    left: 4em;
                }
                &:before {
                    left: 1em;
                    bottom: .3em;
                    background: $blue-3;
                    @include media('<=900px') {
                        left: 2.5em;
                        bottom: 0;
                    }
                    @include media('<=tablet') {
                        bottom: .2em;
                    }
                }
                &:after {
                    bottom: -3.8em;
                    left: 1.5em;
                    height: 70px;
                    background: $blue-3;
                    @include media('<=900px') {
                        left: 3em;
                        bottom: -4em;
                    }
                }
            }
            &:nth-child(2) {
                .before-text {
                    left: 2.5em;
                }
                &:before {
                    left: 1em;
                    bottom: 2.5em;
                    background: $blue-3;
                    @include media('<=tablet') {
                        bottom: 2.2em;
                    }
                    @include media('<=730px') {
                        bottom: 2em;
                    }
                    @include media('<=550px') {
                        bottom: 1.5em;
                    }
                }
                &:after {
                    bottom: -4em;
                    left: 1.5em;
                    height: 103px;
                    background: $blue-3;
                }
            }
            &:nth-child(3) {
                .before-text {
                    left: 0;
                }
                &:before {
                    bottom: 9.25em;
                    left: .5em;
                    background: $red;
                    @include media('<=900px') {
                        left: -1.5em;
                        bottom: 8.5em;
                    }
                    @include media('<=870px') {
                        bottom: 7.8em;
                    }
                    @include media('<=810px') {
                        bottom: 7.4em;
                    }
                    @include media('<=tablet') {
                        left: -1.5em;
                        bottom: 6.8em;
                    }
                }
                &:after {
                    bottom: -3.8em;
                    left: 1em;
                    height: 215px;
                    background: $red;
                    @include media('<=900px') {
                        left: -0.9em;
                        bottom: -4.5em;
                    }
                    @include media('<=810px') {
                        height: 200px;
                    }
                    @include media('<=tablet') {
                        left: -0.9em;
                        bottom: -4.5em;
                        height: 190px;
                    }
                }
            }
            &:nth-child(4) {
                .before-text {
                    left: 2.5em;
                }
                &:before {
                    bottom: 9em;
                    left: 0;
                    background: $red;
                    @include media('<=900px') {
                        left: 1em;
                        bottom: 8.4em;
                    }
                    @include media('<=870px') {
                        bottom: 7.8em;
                    }
                    @include media('<=810px') {
                        bottom: 7.4em;
                    }
                    @include media('<=tablet') {
                        left: 1em;
                        bottom: 6.6em;
                    }
                }
                &:after {
                    bottom: -3.5em;
                    left: .5em;
                    height: 215px;
                    background: $red;
                    @include media('<=900px') {
                        left: 1.4em;
                        bottom: -4.5em;
                    }
                    @include media('<=810px') {
                        height: 200px;
                    }
                    @include media('<=tablet') {
                        left: 1.4em;
                        bottom: -4.5em;
                        height: 190px;
                    }
                }
            }
            &:nth-child(5) {
                .before-text {
                    left: 2.5em;
                }
                &:before {
                    bottom: 2.2em;
                    left: 0;
                    background: $gray-2;
                    @include media('<=900px') {
                        left: 1em;
                        bottom: 1.5em;
                    }
                }
                &:after {
                    bottom: -4em;
                    left: .5em;
                    height: 105px;
                    background: $gray-2;
                    @include media('<=900px') {
                        left: 1.5em;
                        bottom: -4.5em;
                    }
                }
            }
        }
    }
    .new-list {
        @extend %listreset;
        position: relative;
        display: flex;
        margin: 0 -15px 60px;
        z-index: 1;
        @include media('<=tablet') {
            flex-direction: column;
            margin: 0 -15px;
        }
        li {
            position: relative;
            width: 25%;
            padding: 0 15px;
            @include media('<=tablet') {
                width: 70%;
                padding: 0 15px;
                margin: 0 auto 25px;
            }
            @include media('<=730px') {
                width: 100%;
            }
            h3 {
                font-weight: 400;
                font-family: $base-font-sans-serif-2;
                text-transform: uppercase;
                margin: 0 0 3px;
            }
            .list-txt {
                display: block;
                line-height: 1.4;
                font-family: $base-font-sans-serif-2;
            }
            &:nth-child(1) {
                h3 {
                    color: $blue-3;
                }
            }
            &:nth-child(2) {
                h3 {
                    color: $blue-3;
                }
            }
            &:nth-child(3) {
                h3 {
                    color: $red;
                }
            }
            &:nth-child(4) {
                h3 {
                    color: $red;
                }
            }
            &:nth-child(5) {
                h3 {
                    color: $gray-2;
                }
            }
        }
    }
}

.white-bg {
    padding: 100px 0 30px;
    margin: -15px 0 0;
    position: relative;
    @include media('<=tablet') {
        padding: 120px 0 0;
        margin: -5px 0 0;
    }
}

.holder-banner-line {
    max-width: 950px;
    margin: 0 auto;
}

.bg-banner-line {
    position: relative;
    height: 200px;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-image: url("../images/svg-img/line-bg-2.svg");
    @include media('<=730px') {
        height: 130px;
        background-image: url("../images/svg-img/line-bg-3.svg");
    }
}

.before-text {
    display: none;
    position: absolute;
    bottom: -5em;
    font-size: 14px;
    letter-spacing: -.5px;
    color: $gray-2;
    text-transform: uppercase;
    @include media('<=tablet') {
        display: block;
    }
    @include media('<=730px') {
        display: none;
    }
}

.center-text {
    text-align: center;
    position: absolute;
    bottom: 60%;
    left: 51%;
    z-index: 2;
    transform: translateX(-50%);
    @include media('<=tablet') {
        bottom: 72%;
    }
    @include media('<=730px') {
        top: 8%;
        bottom: inherit;
    }
    @include media('<=phone') {
        top: 10%;
    }
    span {
        display: block;
        text-transform: uppercase;
        font-size: 24px;
        @include media('<=phone') {
            font-size: 15px;
        }
    }
    .big-txt {
        color: $orange;
        font-size: 83px;
        font-weight: 600;
        font-family: $base-font-sans-serif-3;
        @include media('<=phone') {
            font-size: 60px;
        }
    }
    .bold-txt {
        font-family: $base-font-sans-serif;
        font-weight: 600;
    }
    .txt {
        font-family: $base-font-sans-serif;
    }
}

#popup5,
#popup6,
#popup7,
#popup8 {
    .container {
        max-width: 950px;
        padding: 0 15px;
        @include media('<=tablet') {
            padding: 0 50px;
        }
        @include media('<=phone') {
            padding: 0 30px;
        }
    }
    .holder-section-2 {
        max-width: 405px;
        @include media('<=tablet') {
            max-width: 325px;
        }
        .title-section {
            font-family: $base-font-sans-serif-2;
            @include media('<=tablet') {
                line-height: 1.3;
            }
            .main-title {
                font-family: $base-font-sans-serif;
                line-height: 1;
                margin: 0 0 35px;
                @include media('<=phone') {
                    margin: 0 0 15px;
                }
            }
            p {
                margin: 0 0 22px;
                &:last-of-type {
                    margin: 0 0 175px;
                    @include media('<=tablet') {
                        margin: 0 0 110px;
                    }
                    @include media('<=phone') {
                        margin: 0 0 125px;
                    }
                }
            }
            a {
                font-size: 18px;
                padding: 11px 48px;
                @include media('<=phone') {
                    font-size: 10px;
                    padding: 5px 25px;
                }
            }
        }
    }
}

#popup8 {
    .holder-section-2 {
        max-width: 522px;
    }
}

// next popup
#where-we {
    .title-section {
        max-width: 555px;
    }
    .main-title {
        margin: 0 0 40px;
    }
}

.main-pagination {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.pagination-col {
    width: 50%;
    max-width: 540px;
    padding: 0 13px;
    @include media('<=phone') {
        display: none;
    }
    h6 {
        font-size: 14px;
        padding: 0 0 10px;
        font-weight: 600;
        margin: 0 0 5px;
        border-bottom: 1px solid $gray-5;
    }
}

.pagination-list {
    @extend %listreset;
    li {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 0 0 8px;
        padding: 0;
        font-size: 16px;
        border-bottom: 1px solid $gray-5;
        @include media('<=phone') {
            font-size: 14px;
        }
        &:last-child {
            margin: 0;
        }
    }
    a {
        color: $blue;
        font-weight: 600;
        margin: 0 5px 0 0;
        font-family: $base-font-sans-serif;
        &:hover {
            color: rgba($blue, .8);
        }
    }
    .abbr-holder {
        min-width: 40px;
        text-align: center;
    }
    abbr {
        font-weight: 900;
        text-decoration: none;
        border: none;
        font-size: 14px;
        font-family: $base-font-sans-serif;
    }
}

.pagination-list-1 {
    li {
        &:first-child {
            display: none;
        }
    }
}

.second-pagination {
    @extend %listreset;
    display: flex;
    padding: 0 15px;
    font-size: 16px;
    font-family: $base-font-sans-serif-2;
    @include media('<=phone') {
        display: none;
        font-size: 14px;
    }
    a {
        color: $gray-3;
        border-bottom: 1px solid $gray-3;
        &:hover {
            color: rgba($gray-3, .8)
        }
    }
    li {
        padding: 0 20px 0 0;
        position: relative;
        &:last-child {
            &::after {
                display: none;
            }
        }
        &::after {
            position: absolute;
            content: "";
            width: 4px;
            height: 4px;
            background: $gray-3;
            border-radius: 50%;
            top: 50%;
            right: 6px;
            transform: translate(-50%, -50%);
        }
    }
}

.slide-popups {
    @extend %listreset;
    font-family: $base-font-sans-serif-2;
    li {
        margin: 0 0 15px;
        position: relative;
        padding: 0 0 0 20px;
        @include media('<=phone') {
            margin: 0 0 9px;
            padding: 0 0 0 15px;
        }
        &:last-child {
            margin: 0;
        }
        &:hover {
            a,
            .icon-arrow-right {
                color: rgba($blue, .8)
            }
            .icon-arrow-right {
                transform: translate(3px, -50%);
            }
        }
    }
    a {
        font-weight: 600;
        color: $blue;
        display: block;
        font-size: 16px;
        @include media('<=phone') {
            font-size: 14px;
        }
    }
    .icon-arrow-right {
        font-size: 13px;
        font-family: 'icomoon';
        position: absolute;
        top: 50%;
        left: 0;
        transition: .3s ease-out transform;
        transform: translate(0, -50%);
        @include media('<=phone') {
            font-size: 11px;
        }
    }
}

.download-link {
    color: $gray-3;
    font-size: 16px;
    border-bottom: 1px solid $gray-3;
    transition: .3s ease-out color, .3s ease-out border-bottom;
    @include media('<=phone') {
        font-size: 14px;
    }
    &:hover {
        border-bottom: 0px solid rgba($gray-3, .8);
        color: rgba($gray-3, .8);
    }
}

#popup9 {
    .main-title {
        color: $gray-2;
        margin: 0 0 36px;
        @include media('<=phone') {
            letter-spacing: -1.3px;
            margin: 0 0 19px;
        }
        mark {
            color: $lime;
        }
    }
    .container {
        max-width: 956px;
    }
}

.team-holder {
    margin: 0 -15px;
}

.team-list {
    @extend %listreset;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    margin: 0 -15px;
    @include media ('<=569px') {
        justify-content: center;
    }
    @include media('<=xs-phone') {
        padding: 0 10px;
        justify-content: space-between;
    }
}

.open-close {
    padding: 0 15px 50px;
    transition: all .4s ease-out;
    @include media('<=phone') {
        padding: 0 7px 8px;
    }
    &:last-child {
        justify-self: flex-start;
    }
    &:hover {
        .img-holder {
            opacity: .4;
        }
    }
    &.active {
        transition: all .4s ease-out;
        .img-holder {
            opacity: .4;
        }
    }
}

.opener {
    width: 160px;
    display: block;
    @include media('<=phone') {
        width: 121px;
    }
    .img-holder {
        display: block;
        width: 100%;
        height: 160px;
        background: $gray-5;
        overflow: hidden;
        margin: 0 0 20px;
        transition: opacity .3s ease-out;
        @include media('<=phone') {
            height: 121px;
            margin: 0 0 6px;
        }
        img {
            width: 100%;
        }
    }
}

.people-names {
    text-align: center;
    .name,
    .position {
        display: block;
        font-size: 16px;
        font-family: $base-font-sans-serif-2;
        @include media('<=phone') {
            font-size: 11px;
        }
    }
    .name {
        color: $lime;
        margin: 0 0 3px;
        @include media('<=phone') {
            margin: 0;
        }
    }
    .position {
        color: $gray-2;
    }
}

.full-name {
    color: $lime;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 3px;
    text-transform: uppercase;
    @include media('<=phone') {
        font-size: 15px;
        margin: 0;
    }
}

.full-position {
    font-size: 18px;
    text-align: center;
    color: $gray-3;
    display: block;
    margin: 0 0 18px;
    @include media('<=phone') {
        font-size: 14px;
        margin: -2px 0 9px 0;
    }
}

.biography {
    font-size: 16px;
    color: $gray-3;
    font-family: $base-font-sans-serif-2;
    @include media('<=phone') {
        font-size: 14px;
        margin: -2px 0 9px 0;
        font-size: 14px;
        padding: 0 20px;
        line-height: 1.3;
    }
}

.open-description {
    position: absolute;
    animation: scale .3s ease-out forwards;
    left: 0;
    width: 100%;
    transform-origin: 50% 0;
    background: $white;
    padding: 47px 30px;
    margin: 33px 0;
    transition: all .3s ease-out;
    @include media('<=phone') {
        margin: 23px 0;
        padding: 22px 0 44px;
    }
    @keyframes scale {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
    &::before {
        content: '';
        position: absolute;
        width: 160px;
        height: 1px;
        background: $lime;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        @include media('<=phone') {
            width: 90px;
        }
    }
    &::after {
        content: '';
        position: absolute;
        width: 160px;
        height: 1px;
        background: $lime;
        bottom: 15px;
        left: 50%;
        transform: translate(-50%, 0);
        @include media('<=phone') {
            width: 90px;
            bottom: 22px;
        }
    }
}

.js-tab-hidden {
    display: block !important;
    left: -9999px !important;
    position: absolute !important;
    top: -9999px !important;
}

.tab-content {
    width: 100%;
    text-align: center;
    padding: 0 15px;
}

#popup10 {
    .banner-lightbox {
        @include media("<=tablet") {
            height: auto;
        }
    }
    .container {
        max-width: 950px;
        padding: 0 15px;
        @include media('<=tablet') {
            padding: 0 50px;
        }
        @include media('<=phone') {
            padding: 0 30px;
        }
    }
    .title-section {
        max-width: 449px;
        color: $gray-3;
        line-height: 24px;
        font-family: $base-font-sans-serif;
        @include media('<=tablet') {
            max-width: 350px;
        }
        @include media('<=phone') {
            max-width: 248px;
            line-height: 17px;
            font-size: 14px;
        }
    }
    .main-title {
        margin: 0 0 24px;
        color: $gray-2;
        line-height: 1;
        @include media('<=phone') {
            margin: 0 0 17px;
        }
        mark {
            color: $lime;
        }
    }
    p {
        margin: 0 0 24px;
        @include media('<=tablet') {
            margin: 0 0 30px;
        }
        @include media('<=phone') {
            margin: 0 0 15px;
        }
    }
    img {
        margin: 0 0 20px;
        @include media('<=phone') {
            width: 97px;
            margin: 0 0 18px;
        }
    }
    .additional {
        font-family: $base-font-sans-serif-2;
        font-size: 16px;
        line-height: 22px;
        margin: 0 0 44px;
        @include media('<=phone') {
            font-size: 14px;
            margin: 0 0 20px;
            line-height: 1.3;
        }
        a {
            text-decoration: underline;
        }
    }
    .btn-all {
        @include media('<=phone') {
            padding: 6px 12px;
            font-size: 10px;
        }
    }
}

#popup11 {
    .container {
        max-width: 950px;
        padding: 0 15px;
        @include media('<=tablet') {
            padding: 0 50px;
        }
        @include media('<=phone') {
            padding: 0 30px;
        }
    }
    .box-content {
        padding: 110px 0;
    }
    .banner-lightbox {
        @include media('<=tablet') {
            background-position: 40% 50%;
        }
    }
    .main-title {
        color: $gray-2;
        margin: 0 0 7px;
        @include media('<=phone') {
            letter-spacing: 2px;
        }
        mark {
            color: $lime;
        }
    }
    .address {
        @include media('<=phone') {
            margin: 0 0 28px;
        }
    }
    .fancybox-close-small {
        color: $white;
        @include media('<=tablet') {
            color: $gray-3;
        }
    }
}

.contact-cols {
    display: flex;
    justify-content: space-between;
    @include media("<=tablet") {
        flex-wrap: wrap;
    }
    .col-1,
    .col-2 {
        width: 50%;
        @include media("<=tablet") {
            width: 100%;
        }
    }
    .col-2 {
        padding: 9px 0 0 16px;
        @include media('<=tablet') {
            max-width: 447px;
            padding: 34px 0;
        }
        @include media('<=phone') {
            padding: 25px 0;
        }
    }
    input {
        padding: 13px 15px;
        position: relative;
        @include media('<=phone') {
            font-size: 14px;
            padding: 7px 13px;
            margin: 0 0 13px;
        }
        @include placeholder {
            color: $gray-3;
        }
    }
    textarea {
        height: 110px;
        padding: 14px 15px;
        margin: 0 0 27px;
        @include media('<=phone') {
            font-size: 14px;
            height: 94px;
        }
        @include placeholder {
            color: $gray-3;
        }
    }
    .address {
        max-width: 377px;
        margin: 0 0 50px;
        .box {
            &:nth-child(1) {
                @include media('<=phone') {
                    margin: 0 15px 0 0;
                }
            }
            &:nth-child(2) {
                @include media('<=tablet') {
                    padding: 0 34px 0 0;
                }
                @include media('<=phone') {
                    padding: 0;
                }
            }
        }
        p {
            margin: 0 0 4px;
            &:last-child {
                margin: 0;
            }
        }
    }
}

.contact-description {
    font-family: $base-font-sans-serif-2;
    color: $gray-3;
    font-size: 16px;
    max-width: 360px;
    display: inline-block;
    line-height: 22px;
    margin: 0 0 50px;
    @include media('<=phone') {
        max-width: 360px;
        font-size: 14px;
        margin: 0 0 10px;
        line-height: 19px;
        letter-spacing: -0.6px;
    }
}

.tel {
    font-size: 20px;
    color: $lime;
    font-weight: 600;
    margin: 0 0 33px;
    display: inline-block;
    outline: none;
    @include media('<=phone') {
        font-size: 15px;
        margin: 0 0 12px;
    }
    &:hover {
        color: rgba($lime, .8);
    }
}

.color-lime {
    color: $lime;
}

.social-holder {
    .contact-description {
        margin: 0 0 15px;
        @include media('<=phone') {
            margin: 0 0 12px;
        }
    }
}

.social-list {
    @extend %listreset;
    display: flex;
    li {
        margin: 0 20px 0 0;
        @include media('<=phone') {
            margin: 0 8px 0 0;
        }
    }
    a {
        color: $white;
        font-size: 20px;
        display: block;
        position: relative;
        width: 35px;
        height: 35px;
        background: $gray-3;
        border-radius: 50%;
        @include media('<=tablet') {
            width: 40px;
            height: 40px;
            font-size: 24px;
        }
        @include media('<=phone') {
            width: 23px;
            height: 23px;
            font-size: 14px;
        }
        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.testimonials-holder {
    .main-title {
        margin: 0;
        line-height: 1;
        position: relative;
        z-index: 1;
        max-width: 325px;
        white-space: nowrap;
    }
    .title-section {
        padding: 22px 0;
        margin: 0;
    }
}

.testimonials-cols {
    display: flex;
    padding: 0 95px;
    justify-content: space-between;
    @include media('<=desktop') {
        padding: 0;
    }
    .col-1 {
        width: 40%;
    }
    .col-2 {
        width: 60%;
        padding: 19px 0;
        @include media('<desktop') {
            padding: 150px 0 0;
            width: 62%;
        }
        @include media('<=641px') {
            width: 100%;
            margin: 0 0 0 -40%;
        }
        @include media('<phone') {
            padding: 106px 0 0 0;
        }
    }
}

.clients-list {
    @extend %listreset;
    color: $gray-2;
    text-transform: uppercase;
    font-size: 14px;
    @include media('<=641px') {
        display: none;
    }
    li {
        margin: 0 0 9px;
    }
}

blockquote {
    margin: 0;
}

.blockqoute-description {
    color: $red;
    line-height: 1.6;
    margin: 0 0 15px;
    font-family: $base-font-sans-serif;
    @include media('<phone') {
        font-size: 12px;
        line-height: 1.4;
        margin: 0 0 6px;
    }
    p {
        margin: 0;
    }
}

cite {
    color: $gray-3;
    font-style: normal;
    @include media('<=phone') {
        font-size: 12px;
    }
}

.bg-light-gray {
    background: $gray-5;
}

.partners-list {
    @extend %listreset;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 -15px;
    padding: 0 80px;
    @include media('<=tablet') {
        padding: 0 65px;
    }
    @include media('<=phone') {
        margin: -8px 0 -15px;
        padding: 0;
    }
    li {
        padding: 0 15px;
        @include media('<=phone') {
            padding: 0 15px 10px;
        }
    }
    img {
        @include media('<=phone') {
            width: 40px;
        }
    }
}

#popup4 {
    .box-content-partner {
        padding: 30px 0;
    }
}

#popup3 {
    .container {
        @include media('<=desktop') {
            padding: 0 50px;
        }
        @include media('<=tablet') {
            padding: 0 30px;
        }
    }
}

.studies-list {
    @extend %listreset;
    li {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px 0 20px;
        border-bottom: 1px solid $gray-2;
        @include media('<=desktop') {
            padding: 11px 0 23px;
        }
        @include media('<=tablet') {
            padding: 15px 0 50px;
        }
        @include media('<=640px') {
            flex-wrap: wrap;
        }
        @include media('<=phone') {
            padding: 15px 0 10px;
        }
        &:last-child {
            border-bottom: 0;
        }
        p {
            margin: 0;
        }
    }
    .btn-all {
        padding: 12px 27px;
        font-size: 18px;
        margin: 5px 0 0;
        font-weight: 600;
        font-family: $base-font-sans-serif;
        background: $gray-2;
        opacity: 1;
        transition: background .3s ease-out;
        @include media('<=tablet') {
            font-size: 14px;
        }
        @include media('<=phone') {
            font-size: 10px;
            margin: 10px 0 0;
            padding: 6px 10px;
        }
        &:hover {
            background: $red;
            opacity: 1;
        }
    }
}

.studies-col {
    width: 75%;
    margin: 0 15px 0 0;
    line-height: 1.4;
    @include media('<=desktop') {
        width: 70%;
    }
    @include media('<=tablet') {
        width: 65%;
    }
    @include media('<=640px') {
        width: 100%;
    }
    h4 {
        font-weight: 600;
        color: $red;
        margin: 0 0 5px;
        font-family: $base-font-sans-serif-3;
        @include media('<=tablet') {
            line-height: 1;
        }
    }
}

.slide-col {
    .title-section {
        font-family: $base-font-sans-serif-2;
    }
}

.slide-title {
    font-family: $base-font-sans-serif;
}

.btns-holder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn-prev,
.btn-next {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    font-size: 25px;
    opacity: 5;
    color: #000;
    transition: .3s ease-out background;
    &:before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.btn-prev {
    left: -4%;
    @include media('<=phone') {
        left: -10%;
    }
    &:before {
        left: 0;
    }
}

.btn-next {
    right: -4%;
    @include media('<=phone') {
        right: -10%;
    }
    &:before {
        right: 0;
    }
}

.scroll {
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 30px;
    height: 54px;
    transform: translateX(-50%);
}